.body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background: grey;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
}

.landingPage {
  max-width: 960px;
  min-height: 475px;
  margin: 0;
  padding: 1em 0;
  background: navajowhite;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  width: 90%;
  max-height: 225px;
  margin: 0 0 15px;
}

.h1 {
  font-size: 4.5vw;
  margin: 0;
}
.h2 {
  text-align: center;
  font-size: 3vw;
  margin: 0 auto;
}

.p {
  font-size: 2vw;
  margin: 16px auto 24px;
  text-align: center;
}

.btn {
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 1.6vw;
  cursor: pointer;
  background: crimson;
  color: #fff;
  border: none;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 #ccc;
}